/*Abigail Lisonbee, 4/10/22*/
.purple{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.green{
    font-style: italic;
}

.blue{
    font-family: 'Courier New', Courier, monospace;
}

.red{
    color: darkslategray;
}

/*.orange{
    text-align: center;
}*/

/*so do I not need all these extra pages?
--delete the broken links
my center is so ugly,
